@import './common';
@import '~bootstrap/scss/bootstrap';

.btn-primary {
    &:hover,
    &:focus {
        background-color: rgba(177, 47, 0, 0.6);
    }
}

.container {
    max-width: 50%;
    padding: 25px 0;
    position: relative;
}

.rating {
    background-color: orange;
    border-radius: 6px;
    padding: 0 5px;
}

// .btn-warning {
//     position: absolute;
//     top: 15px;
//     right: 15px;
// }

.selected-btn {
    background-color: rgba(177, 47, 0, 0.6);
}